<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838055659298-4m2ru2ec0s7pgv2j7p9s0i3lbc1f3tq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838055659298-4m2ru2ec0s7pgv2j7p9s0i3lbc1f3tq5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838055659298-cbeg699mlhmamndg39voilam24028vrd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc2IMQOibEeGFh-ff-AVvT4DAKdSlL1Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>838055659298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.ingale.codeex</string>
	<key>PROJECT_ID</key>
	<string>codeex-73f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>codeex-73f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838055659298:ios:4f7f0d51e8c7184f46c77b</string>
	<key>DATABASE_URL</key>
	<string>https://codeex-73f7c-default-rtdb.firebaseio.com</string>
</dict>
</plist>